[submodule "module-projects/BackEndProject/Name"]
	path = module-projects/BackEndProject/MediaTagger
	url = https://github.com/DamienAndDustinBackend/backend-project/tree/main
[submodule "module-projects/FrontEndProject/Name"]
	path = module-projects/FrontEndProject/MusicDiscoveryApp
	url = https://github.com/FrontEndProjectMV/music-discovery-app/tree/main
[submodule "module-projects/DeploymentProject/Name"]
	path = module-projects/DeploymentProject/CustomMCPServer
	url = https://github.com/EmmanuelDamienDustinDeploymentProject/DeploymentProject
[submodule "module-projects/HackathonProject/Name"]
	path = module-projects/HackathonProject/DM-DriveAnalyzer
	url = https://github.com/DamienHall/DM-DriveAnalyzer/tree/main
